<!DOCTYPE html>
<html>
<head>
	<!--tab name-->
	<title>Knowledge Engineering</title>
	<meta charset="utf-8">	
	<!-- Map style -->
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
	  html { height: 100% }
	  body { height: 100%; margin: 0; padding: 0 }
	  #map-canvas { height: 100% }
	</style>
	<!-- Custom styles for the application 
	<link rel=stylesheet type=text/css href="/static/css/style.css">-->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<link rel=stylesheet type=text/css href="/static/css/cstyle.css">
	<link rel=stylesheet type=text/css href="/static/css/bootstrap-dialog.css">	
	<link rel=stylesheet type=text/css href="/static/css/bootstrap-dropdown-checkbox.css">
	<link rel=stylesheet type=text/css href="/static/css/datepicker.css">
	<link rel=stylesheet type=text/css href="/static/css/ion.tabs.css">
	<link rel=stylesheet type=text/css href="/static/css/normalize.css">
	<link rel=stylesheet type=text/css href="/static/css/ion.tabs.skinBordered.css">
	<!--JQuery -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>	
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>	
	<!-- Google Maps Javascript API -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>	
	<!-- Application specific Javascript code -->	
	<script type="text/javascript" src="/static/js/bootstrap-dialog.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap-dropdown-checkbox.js"></script>
	<script type="text/javascript" src="/static/js/map-handling.js"></script>
	<script type="text/javascript" src="/static/js/spin.js"></script>
	<script type="text/javascript" src="/static/js/spinner.js"></script>
	<script type="text/javascript" src="/static/js/ion-tabs/ion.tabs.js"></script>
	<script type="text/javascript" src="/static/js/stats.js"></script>
	<script type="text/javascript" src="/static/js/twitter.js"></script>
	<script type="text/javascript" src="/static/js/dbpedia.js"></script>
	<script type="text/javascript" src="/static/js/main.js"></script>
    <!--<script src="http://d3js.org/d3.v3.min.js"></script>-->
</head>

<body>

	<div id="modal">  </div>

	<div class="container-fluid">	
		<div class="row" id="header">
			<div class="col-md-12"> 
				<h1>EVENT SUPPLIER</h1>
			</div>
		</div>		
		
		<div class="row"> <h2>Event information </h2> </div>
			<form id="searchForm" class="navbar-form navbar-left" role="form">
				<div class="row"> 
					<div class="col-md-4"> 
						<input type="text" class="form-control" placeholder="Event name" aria-describedby="basic-addon1">
					</div>
					<div class="col-md-4">  
						<input type="text" class="form-control" placeholder="Event budget (e.g. 15000)" aria-describedby="basic-addon1">
					</div>
					<div class="col-md-4">  
						<input type="text" class="form-control" placeholder="Expected visitors (e.g. 60)" aria-describedby="basic-addon1">
					</div>
				</div>
				<div class="row"></br> </div>
				<div class="row"> 
					<div class="col-md-4">
						<div id="disciplinesDropDown" class="dropMultiSelect"></div>					
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" value="" placeholder="Event date (click to select)" id="date-event" readonly>
					</div>
				</div>
				<div class="row"></br></div>
				
				<div class="row">
					<div class="col-md-6">
						<fieldset>
							<legend>Preferred supplier skill rating</legend>
							<input type="radio" name="skill" value="High"/>  High <br/>
							<input type="radio" name="skill" value="Low"/> Low <br/>
							<input type="radio" name="skill" value="Indifferent" checked/> Indifferent
						</fieldset>
					</div>
				</div>
				
				<div class="row"></br></div>
				
				<div class="row">
					<div class="col-md-6">
						<fieldset>
							<legend>Preferred supplier quality rating</legend>
							<input type="radio" name="quality" value="High"/> High <br/>
							<input type="radio" name="quality" value="Low"/> Low <br/>
							<input type="radio" name="quality" value="Indifferent" checked/> Indifferent
						</fieldset>
					</div>
				</div>
				
				<div class="row"></br></div>
				
				<div class="row">
					<div class="col-md-6"> 
						<fieldset>
							<legend>Preferred supplier price rating</legend>
							<input type="radio" name="price" value="High"/> High <br/>
							<input type="radio" name="price" value="Low"/> Low <br/>
							<input type="radio" name="price" value="Indifferent" checked/> Indifferent
						</fieldset>
					</div>
				</div>
				
				<div class="row"></br></div>
				
				<div class="row">
					<div class="col-md-4"> <button id="submitBtn" type="submit" class="btn btn-info" >Submit</button></div>
				</div>
				
				
			</form>
		</div>		
	</div>
<style>

</body>
</html>
